<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    {{> headLinks}}
    {{> styles}}
</head>
<body>
    <div class="main">
        <table id="container" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>
                    {{> logo}}
                    <h1>You have a new comment on your {{type}}</h1>
                    <table id="action-card" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td>
                                <p>{{commentCreator}} Commented on your {{type}}:</p>
                                <p>{{comment}}</p>
                                <a id="action-button" href="{{actionHref}}">View comment</a>
                            </td>
                        </tr>
                    </table>
                    {{> appLinks}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
